/* === Login Page === */
.login-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #1E1E1E;
  background-image: url('../../public/images/login.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.login-header {
  font-family: 'Bowlby One', sans-serif;
  font-size: 3rem;
  color: #E9E3DC;
  text-align: center;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}

.login-container {
  background: #E9E3DC;
  border: 4px solid #1E1E1E;
  border-radius: 30px;
  padding: 3rem 2rem;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  text-align: center;
}

.login-title {
  font-family: 'Bowlby One', sans-serif;
  font-size: 2rem;
  color: #1E1E1E;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.login-input {
  width: 100%;
  max-width: 600px;
  margin: 1rem auto;
  height: 60px;
  border: 1px solid #1E1E1E;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  display: block;
}

.login-label {
  font-family: 'Bowlby One', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}

.login-button {
  background: #E9E3DC;
  border: 4px solid #1E1E1E;
  box-shadow: 8px 8px 0px #000000;
  padding: 15px 30px;
  font-family: 'Bowlby One', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #1E1E1E;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 8px;
}

.login-footer {
  font-family: 'Bowlby One', sans-serif;
  font-size: 1rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}

.nav-login-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-family: 'Bowlby One', sans-serif;
  font-size: 1.5rem;
  color: #E9E3DC;
  text-transform: uppercase;
  text-decoration: none
}

.login-footer-link {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .login-header {
    font-size: 2.2rem;
  }

  .login-title {
    font-size: 1.6rem;
  }

  .login-container {
    padding: 2rem 1rem;
  }

  .login-input {
    width: 80%;
  }

  .login-button {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .login-header {
    font-size: 1.8rem;
  }

  .login-title {
    font-size: 1.4rem;
  }

  .login-label {
    font-size: 1rem;
  }

  .login-button {
    font-size: 0.9rem;
    padding: 12px 20px;
  }
}
